<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Brian's Page</title>
    <link rel="stylesheet" href="aboutStyling.css">
    <style>
        img{
            height:200px;width:400px;float:right;margin: 0px 0px 15px 20px;
        }
        p{
            overflow:auto;font-size:18px
        }
    </style>
</head>

<body>
    <h1 style="color:white;background-color:red;width:fit-content;font-family:'Myriad Pro Semibold',sans-serif">About Me, Brian</h1>
    <p> <img src="https://cnet1.cbsistatic.com/img/V1A2QThEyYjtfs_X7iTgHjQshEU=/1092x0/2019/05/14/f207d0c2-268b-4a8e-9ef8-64d9abb201c9/borderlands-3.jpg">
        My name is Brian Harshaw and I am a sophmore at Marist College majoring in computer science.
        I enjoy learning about technology and playing video games, both of which cycle my sleep schedule
        towards being nocturnal. Currently I enjoy playing Borderlands 3 in my free time.
    </p>
    <h2></h2>
    <div>

    </div>
</body>
</html>