<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Brian's Page</title>
    <link rel="stylesheet" href="aboutStyling.css">
    <style>
        img{
            height:200px;width:400px
        }

    </style>
</head>

<body>
    <h1 style="color:white;background-color:red;width:fit-content">About Me, Brian</h1>
    <p1>My name is Brian Harshaw and I am a sophmore at Marist College majoring in computer science. <br>
        I enjoy learning about technology and playing video games, both of which cycle my sleep schedule<br>
        towards being nocturnal.<br>
    </p1>
    <img src="https://cnet1.cbsistatic.com/img/V1A2QThEyYjtfs_X7iTgHjQshEU=/1092x0/2019/05/14/f207d0c2-268b-4a8e-9ef8-64d9abb201c9/borderlands-3.jpg">
</body>
</html>