<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brian's Resume</title>
    <link rel="stylesheet" href="resumeStyling.css">
</head>
<body>
<!--Name and occupation listed at the top of the resume-->
<h1>Brian Harshaw</h1>
<h3>Computer Science Student</h3>
<!--Header that will contain my important contact and address information-->
    <header>20 Old Meadow Plain Road, Simsbury CT, 06070	Upper Fulton 6B-5<br>
            Cell: 860-805-1042                         Home:	 860-651-6542<br>
            Emails: brian46harshaw@gmail.com	    Brian.Harshaw1@marist.edu<br>
    </header>
<!--Description list to fill out most of the body-->
    <d1>
        <dt>Education</dt>
            <dd>
                <ul>
                    <li>Marist College Sophmore</li>
                    <li>Major: Computer Science</li>
                    <li>Minor: Cybersecurity</li>
                    <li>Dean's List Freshman Year, GPA: 3.934 </li>
                </ul>
            </dd>
        <dt>Skills</dt>
            <dd>
                <ul>
                    <li>Java</li>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Overleaf</li>
                </ul>
            </dd>
        <dt>Interests</dt>
            <dd>
                <ul>
                    <li>Computer science and technology</li>
                    <li>Video and card games</li>
                    <li>Cybersecurity and ethical hacking, </li>
                    <li>Hiking and nature</li>
                </ul>
            </dd>
    </d1>
</body>
</html>