<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/resumeStyling.css">
    <meta charset="UTF-8">
    <title>Brian's Resume</title>
    <style>
        header{
            float:right;
            font-size:18px;
        }
        h1{
            text-decoration:underline;
        }
        h3{
            text-decoration:underline;
        }
    </style>
</head>
<!--Header that will contain my important contact and address information, floating to the right of my name-->
<header class="top_headers">
        Address: 20 Old Meadow Plain Road, Simsbury, CT<br>
        Marist Campus, Upper Fulton 6B-5<br>
        Cell: 860-805-1042 &emsp; &emsp; &emsp; Home: 860-651-6542<br>
        Emails: <a href="mailto:brian46harshaw@gmail.com">brian46harshaw@gmail.com</a><br>
        <a href="mailto:Brian.Harshaw1@marist.edu">Brian.Harshaw1@marist.edu</a><br>
</header>
<!--Name and occupation listed at the top of the resume-->
<h1 class="top_headers">Brian Harshaw</h1>
<h3 class="top_headers">Computer Science Student</h3>

<body>
<!--Description list to fill out most of the body-->
    <d1>
        <dt>Education</dt>
            <dd>
                <ul class="resume_body">
                    <li>Marist College Sophmore</li>
                    <li>Major: Computer Science</li>
                    <li>Minor: Cybersecurity</li>
                    <li>Dean's List Freshman Year, GPA: 3.934 </li>
                </ul>
            </dd>
        <dt>Employment</dt>
            <dd>
                <ul class="resume_body">
                    <li>Cashier at Big-Y in 2016</li>
                    <li>Looking for computer science internships</li>
                </ul>
            </dd>
        <dt>Skills</dt>
            <dd>
                <ul class="resume_body">
                    <li>Java</li>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Overleaf</li>
                </ul>
            </dd>
        <dt>Interests</dt>
            <dd>
                <ul class="resume_body">
                    <li>Computer science and technology</li>
                    <li>Video and card games</li>
                    <li>Cybersecurity and ethical hacking, </li>
                    <li>Hiking and nature</li>
                </ul>
            </dd>
    </d1>
<footer></footer>
</body>
</html>