/*Class for the second header in the about page */
.marist_head{
    color:white;
    background-color:red;
    border-style:solid;
    border-left-color:white; border-right-color:white; border-top-color:black; border-bottom-color:black;
    width:fit-content;
    font-family:'Myriad Pro Semibold',sans-serif;
    border-radius:40px;
    padding:20px;
}

/* Linear gradient for the background. I am sure there is a more efficient way to do this than go back and forth
between colors, but I skimped out here.*/
body{
    background:linear-gradient(-45deg,red,lightcoral,red,lightcoral,red,lightcoral,red,lightcoral,red);
}

/*Fix for a spacing error with the border of the ordered list */
ol{
    padding:70%;
}

/*Class to change the second paragraph*/
.para_font{
    font-family:Helvetica, Arial, sans-serif;
    font-size:20px;
    border-style:solid;
    border-spacing:25px 25px;
    overflow:auto;
    vertical-align:auto;
    padding:25px;
    width:fit-content;
    background-color:white;
}

