{% extends "base.html" %}

{% block title %}Brian Harshaw{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}

{% block body %}}
{{super()}}

  {% block navigation %}
    {{super()}}
    {% block content %}Marist College{% endblock content %}
  {% endblock navigation %}

  {% block masthead %}
    {{super()}}
    {% block mastName %}Brian Harshaw{% endblock mastName %}
    {% block mastSub %}Marist Student - Amateur Web Developer{% endblock %}
  {% endblock masthead %}

  {% block portfolio %}
    {{super()}}

  {% endblock portfolio %}

  {% block about %}
    {{super()}}

  {% endblock about %}

  {% block footer %}
    {{super()}}

  {% endblock footer %}
{% endblock body%}